.social-icons {
    display: inline-flex;
  }
  
  .social-icons__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration:var(--transition-duration);
    transition-timing-function:var(--timing-function);
  
  &:hover,
  &:focus   {
     background-color: var(--accent-color);
     
  }
}

  
  .social-icons__icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  .social-icons__item + .social-icons__item {
    margin-left: 10px;
  }
}

  .footer-socials {
    flex-basis:calc((50% - 45px) / 2);
    margin-left: 30px;
  
  &:last-child {
    flex-basis:calc(50% - 15px);
    margin-left: 0;
    }
  }
  
  .footer-socials__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 12px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--dark-bg-text-color);
  }
  
  .footer-socials__icon {
    width: 20px;
    height: 20px;
    fill: #fff;
  }
  
  .footer-socials__items {
    display: inline-flex;
  
  &:nth-child(n + 2) {
    margin-left: 5px;
  }
}
  
  .footer-socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition-duration) var(--timing-function);
  
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
  
