:root {
    --main-text-color: #757575;
    --dark-bg-text-color: #ffffff;
    --title-color: #212121;
    --dark-background: #2f303a;
    --light-background: #f5f4fa;
    --accent-color: #2196f3;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
  }