

.footer-menu__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--dark-bg-text-color);

  @media screen and (max-width: 1199px){
    margin-bottom: 8px;
  }

  margin-bottom: 9px;
}

.footer-menu__contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);


&:not(:last-child) {

  @media screen and (max-width: 1199px){
    margin-bottom: 8px;
  }

  margin-bottom: 9px;
}
}