.pro-item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: box-shadow var(--transition-duration) var(--timing-function);

&:hover,
&:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

&:hover .pro-item__img::before,
&:focus .pro-item__img::before {
  opacity: 1;
  transform: translateY(0);
}
}

.pro-item__img {
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;


&::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--timing-function);
}
}

.pro-item__name {
  padding: 20px 24px;
}

.projects-list {
  font-size: 18px;
  line-height: 2;
}