.hero {

    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #c4c4c4;
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img2/hero-img.jpg);
    background-repeat: no-repeat;
    // background-size: 100%;
  }

  .forces {
    background: #fff;

    @media screen and (min-width: 1200px){
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  .wedo {
    @media screen and (max-width: 1199px){
      display: none;
    }

    padding-top: 94px;
    padding-bottom: 94px;
    background: #fff;
  }

  .team-section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
    background: var(--light-background);

    @media screen and (min-width: 1200px){
      padding-top: 94px;
      padding-bottom: 94px;
    }

  }

  .clients {
    @media screen and (max-width: 1199px){
      margin-top: 60px;
    }

    @media screen and (min-width: 1200px){
      padding-top: 94px;
      padding-bottom: 94px;
    }

  }

  .projects {
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: #fff;
  }

  