.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;

@media screen and (max-width: 767px){
   background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img2/bg-img-mobile.jpg);
}

@media screen and (min-width: 768px){
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img2/bg-img-tablet.jpg);
}

  @media screen and (min-width: 1200px){
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img2/bg-img-desktop.jpg);
  }

  }

  .forces {
    background: #fff;

    @media screen and (min-width: 1200px){
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  .wedo {
    background: #fff;
    @media screen and (max-width: 1199px){
      display: none;
    }
  }

  .team-section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
    background: var(--light-background);

    @media screen and (min-width: 1200px){
      padding-top: 94px;
      padding-bottom: 94px;
    }

  }

  .clients {
    @media screen and (max-width: 1199px){
      margin-top: 60px;
    }

    @media screen and (min-width: 1200px){
      padding-top: 94px;
      padding-bottom: 94px;
    }

  }

  .projects {
    background-color: #fff;

    @media screen and (min-width: 1200px){
      padding-bottom: 94px;
      padding-top: 94px; 
    }
  }

  .footer {
    height: 603px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
    background-color: var(--dark-background);

    @media screen and (min-width: 1200px){
      height: 252px;
    }
 

  }