.team__position {
    margin-top: 10px;
    margin-bottom: 16px;
  }
  
  .team__info {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .project-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
  }
  
  .team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    color: var(--title-color);
  }